@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

html,
body,
#root {
  @apply m-0 h-full text-gray-900 dark:text-white bg-white dark:bg-slate-900;
}

input::placeholder {
  @apply text-slate-400;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0; /* For vertical scrollbars */
  height: 0; /* For horizontal scrollbars */
}
