@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

html,
body,
#root {
  @apply m-0 h-full text-gray-900 dark:text-white bg-white dark:bg-slate-900;
}

input::placeholder {
  @apply text-slate-400;
}
