@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  height: 100%;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  @apply text-slate-400;
}
