name: Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  unit-test:
    name: Unit Test on Java ${{ matrix.java-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version: [17]

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Test
        id: unit-test
        run: ./gradlew test

      - name: Upload unit test report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maestro-unit-test-report
          path: ./**/build/reports/tests/test
          retention-days: 1
          include-hidden-files: true

  android-integration-test:
    name: Android Integration Test on Java ${{ matrix.java-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version: [17]

    steps:
      # This is needed to enable hardware acceleration
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Run Integration test
        if: matrix.java-version == '17'
        id: integration-test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          arch: x86_64
          target: google_apis
          script: |
            # h/t https://gist.github.com/Tobias-Pe/52c8d6e162f75fb5dff5258a525fbf79
            adb logcat -c                             # clear logs
            touch emulator.log                        # create log file
            chmod 777 emulator.log                    # allow writing to log file
            adb logcat >> emulator.log &              # pipe all logcat messages into log file as a background process
            ./gradlew integrationTest                 # run the tests
            cp emulator.log ~/.maestro/emulator.log   # copy emulator log with other debug artifacts

      - name: Upload Maestro integration debug artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maestro-root-dir-android
          path: ~/.maestro
          retention-days: 1
          include-hidden-files: true

      - name: Upload integration test report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: maestro-integration-test-report
          path: ./**/build/reports/tests/integrationTest
          retention-days: 1
          include-hidden-files: true

  ios-driver-lib-test:
    name: MaestroDriverLib Unit Tests
    runs-on: macos-latest
    timeout-minutes: 10

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Run MaestroDriverLib Tests
        working-directory: ${{ github.workspace }}/maestro-ios-xctest-runner/MaestroDriverLib
        run: swift test

  ios-xctest-runner-test:
    name: iOS XCTest Runner Unit Tests
    runs-on: macos-latest
    timeout-minutes: 15

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

      - name: Run iOS Unit Tests
        working-directory: ${{ github.workspace }}/maestro-ios-xctest-runner
        run: |
          xcodebuild test \
            -project maestro-driver-ios.xcodeproj \
            -scheme maestro-driver-iosTests \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -only-testing:maestro-driver-iosTests \
            | xcpretty --color || exit ${PIPESTATUS[0]}

  validate-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
